<div>
    <form [formGroup]="quizForm" (ngSubmit)="onSaveQuiz()">
        <div class="form-group">
            <label for="title">Tapez votre question : </label>
            <input type="text" id="title" class="form-control" formControlName="question">
        </div>
        <div>
            <label>Réponse : </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="reponse" id="radio1" value="true"
                formControlName="reponse">
            <label class="form-check-label" for="radio1">VRAI</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="reponse" id="radio2" value="false"
                formControlName="reponse">
            <label class="form-check-label" for="radio2">FAUX</label>
        </div><br><br>
        <div>
            <button class="btn btn-primary" [disabled]="quizForm.invalid" type="submit">Envoyer la question</button>
        </div>
    </form>
</div>