<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form [formGroup]="quizForm" (ngSubmit)="onSaveQuiz()">
            <div class="form-group">
                <label for="title">Tapez votre question : </label>
                <input type="text" id="title" class="form-control" formControlName="question">
            </div>
            <div class="form-group">
                <label for="reponse">Réponse : </label>
                <button class="btn btn-outline-success form-control" formControlName="reponse">Vrai</button>
                <button class="btn btn-outline-danger form-control" formControlName="reponse">Faux</button>
            </div>
            <button class="btn btn-primary"></button>
        </form>
    </div>
</div>